<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- load the properties file: sport.properties -->
    <context:property-placeholder location="classpath:sport.properties"/>

    <!-- Define beans here -->

    <!-- Define the dependency -->
    <bean id="myFortuneService"
          class="com.tilmeez.springdemo.HappyFortuneService">
    </bean>

    <bean id="myRandomFortuneService"
          class="com.tilmeez.springdemo.RandomFortuneService">
    </bean>

    <bean id="myCricketCoach"
          class="com.tilmeez.springdemo.CricketCoach">
        <!-- set up setter injection -->
        <property name="fortuneService" ref="myFortuneService"/>

        <!-- inject literal values -->
        <property name="emailAddress" value="${foo.email}"/>
        <property name="team" value="${foo.team}"/>
    </bean>

    <bean id="myCoach"
          class="com.tilmeez.springdemo.TrackCoach">
        <!-- set up construction injection -->
        <constructor-arg ref="myFortuneService"/>
    </bean>

    <bean id="myGolfCoach"
          class="com.tilmeez.springdemo.GolfCoach"
          scope="prototype">
        <!-- set up construction injection -->
        <constructor-arg ref="myRandomFortuneService"/>
    </bean>




    <!--
        Add a logger config to see logging messages.
        - For more detailed logs, set values to "FINEST"
        - For info on logging levels, see: http://www.vogella.com/tutorials/Logging/article.html
     -->
    <bean id="myLoggerConfig" class="com.tilmeez.springdemo.MyLoggerConfig" init-method="initLogger">
        <property name="rootLoggerLevel" value="ALL" />
        <property name="printedLoggerLevel" value="ALL"/>
    </bean>
</beans>